<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <h3>アマゾン商品情報の取得</h3>
        <div class="form-inline">
          <%= form_tag('/products/search', method:'post', id:'products_search') do %>
            <div class="form-inline">
              <div class="form-group">
                <label><b>セラーID</b></label>
                <%= text_field_tag('seller_id', nil, class: 'form-control', style: 'margin-left:10px; margin-right:20px;') %>
              </div>
              <%= submit_tag '取得開始', class: 'btn btn-info', style: 'margin-left:10px; margin-right:20px;' %>
            </div>
          <% end %>
          <%= link_to '出品ファイルの確認', lists_show_path, class: 'btn btn-success' %>
        </div>
        <br>
        <h5 style="display:inline;">取得済み件数　全<%= @total.to_i %>件</h5>
        <table class="table table-striped table-hover table-bordered table-headerfixed ellipsis" id="list_table" style="width:100%;">
          <thead class="thead-light">
            <tr>
              <% @headers.each do |key, value| %>
              <% if key == :title then %>
              <th style="width:25%;"><%= value %></th>
              <% else %>
              <th style="width:15%;"><%= value %></th>
              <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% if @lists != nil then %>
            <% @lists.each_with_index do |temp, index| %>
            <tr>
              <% @headers.each do |key, value| %>
              <% if key == :title then %>
              <td style="text-align:left;width:25%;"><%= temp.amazon_product[key] %></td>
              <% elsif key == :brand then %>
              <td style="width:15%;"><%= temp.amazon_product[key] %></td>
              <% else %>
              <td style="width:15%;"><%= temp[key] %></td>
              <% end %>
              <% end %>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
